In [ ]:
Simple Statistics with a list of numbers.

In [1]:
digits = [1,2,3,4,5,6,7,8,9,10,11,12]
print(digits)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
Req : Want to find Minimum Value, Maximum Value and addition of all the values present in list.

In [2]:
min(digits) # To Find Minimum Value in Digits Provided in List

1

In [3]:
max(digits) # To Find the maximum value provided in list.

12

In [4]:
sum(digits) # To find the sum of all the digits provided in the list.

78

In [ ]:
# Working with a part of the list: ---> To Break in team of 2 members each.

In [5]:
students = ['ashok','soumya','ravi','shravya','mehtab','diksha','saurabh','eshwari']
print(students)

['ashok', 'soumya', 'ravi', 'shravya', 'mehtab', 'diksha', 'saurabh', 'eshwari']

In [ ]:
----> Slicing the List <----

In [6]:
len(students)

8

In [7]:
print(students[0:2])

['ashok', 'soumya']

In [8]:
print(students[2:4])

['ravi', 'shravya']

In [9]:
print(students[4:6])

['mehtab', 'diksha']

In [11]:
print(students[6:])

['saurabh', 'eshwari']

In [ ]:
students = ['ashok','soumya','ravi','shravya','mehtab','diksha','saurabh','eshwari']

In [ ]:
Req : Need to print every alternative student from the list. ----> ashok----ravi-----mehtab

In [ ]:
# General Syntex of slicing : (variable_name[start_value:end_value:skip_count])

In [13]:
print(students[0:8:2])

['ashok', 'ravi', 'mehtab', 'saurabh']

In [ ]:
# Copying a List

In [16]:
my_food = ['pizza','burger','cake']
print(my_food)

['pizza', 'burger', 'cake']

In [17]:
friends_food = my_food[:] # For copying a list [:] is must
print(friends_food)

['pizza', 'burger', 'cake']

In [20]:
print('My Favourite Foods are : ')
print(my_food)
print('\n My friends favourite foods are: ')
print(friends_food)

My Favourite Foods are :
['pizza', 'burger', 'cake']

 My friends favourite foods are:
['pizza', 'burger', 'cake']

In [22]:
my_food.append('corn')
print('My Favourite Foods are : ')
print(my_food)
friends_food.append('Chocolate')
print('\n My friends favourite foods are: ')
print(friends_food)

My Favourite Foods are :
['pizza', 'burger', 'cake', 'corn', 'corn']

 My friends favourite foods are:
['pizza', 'burger', 'cake', 'Chocolate']

In [24]:
my_food = ['pizza','burger','cake']
friends_food = my_food
print('\n My friends favourite foods are: ')
print(friends_food)
print('My Favourite Foods are : ')
print(my_food)

 My friends favourite foods are:
['pizza', 'burger', 'cake']
My Favourite Foods are :
['pizza', 'burger', 'cake']

In [ ]:
## Introduction to tuple data..
tuple is considered as a immutable data type.
a tuple is defined by using ----()

In [26]:
dimension = (250,50)
print(dimension)

(250, 50)

In [27]:
type(dimension)

tuple

In [28]:
dimension[0] = 250

TypeError: 'tuple' object does not support item assignment

In [29]:
dimension = (250,50)
print(dimension)

(250, 50)

In [30]:
print(dimension[1])

50